<!doctype html>
<html>
	<head>

		<meta charset="UTF-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	</head>

	<body>
		<h1>Welcome to Words. A place to practice. A place to learn.</h1>
		<div id="word"></div>
		<input type="button" id="next" value="start">

		<script type="text/template" class="template">
			<h1><%- rc.word %></h1>
			<ul>
				<% _.each( rc.definitions, function( definition ){ %>
					<li class='answer'><%- definition %></li>
				<% }); %>
			</ul>
		</script>

		<script src="js/script.js"></script>
	</body>

</html>